{% load static %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Travel More - A Blog for and by digital normads</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontastic.css' %}">
  <!-- <link rel='stylesheet' id='uncodefont-google-css'
    href='//fonts.googleapis.com/css?family=Poppins%3A300%2Cregular%2C500%2C600%2C700%7CRoboto%3A100%2C100italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C700%2C700italic%2C900%2C900italic%7CLato%3A100%2C100italic%2C300%2C300italic%2Cregular%2Citalic%2C700%2C700italic%2C900%2C900italic%7CMontserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CReenie+Beanie%3Aregular%7CNunito+Sans%3A200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;subset=devanagari%2Clatin-ext%2Cvietnamese%2Cgreek%2Ccyrillic-ext%2Ccyrillic%2Cgreek-ext%2Clatin&#038;ver=2.1.0'
    type='text/css' media='all' /> -->
  <!-- <link rel='stylesheet' id='motive-fonts-css'
    href='https://fonts.googleapis.com/css?family=Oswald%3A400%2C700%7CLato%3A400%2C400italic%2C700%7CPT+Serif%3A400italic&#038;subset'> -->
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"> -->
  <link rel="stylesheet" href="{% static 'vendor/@fancyapps/fancybox/jquery.fancybox.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.default.test.three.css' %}" id="theme-stylesheet">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link rel="shortcut icon" href="{% static 'favicon.png' %}">
  <link href="{% static 'css/instagram_slider.css' %}" rel="stylesheet" type="text/css" />
  <!-- <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">

  <link href='{% static "styles/github.css" %}' rel="stylesheet">

  <!-- Tweaks for older IEs-->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>